<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Main Page</title>
  </head>

  <body>
    <div class="text">
      <h1>DEMC Homework</h1>
    </div>
    <div class="menu">
      <ul>
        <li><a class="active" href="">Home</a></li>
        <li><a href="/rick">Rick</a></li>
        <li><a href="/general">General</a></li>
      </ul>
    </div>

    {% block content %} {% endblock %} {% block general %} {% endblock %}
  </body>
</html>
