{% extends 'index.html' %} {% block content %}
<div class="top">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/2880px-Rick_and_Morty.svg.png"
    alt=""
    width="500px"
  />

  <h3>
    <ul>a. Seçtiğiniz dizinin IMDB average rating'i en yüksek olan 5 bölümü</ul>
    <ul>b. Seçtiğiniz dizinin IMDB average rating'i en düşük olan 5 bölümü</ul>
    <ul>c. Seçtiğiniz dizinin IMDB'de en çok kişi tarafından oylanmış 5 bölümü </ul>
    <ul>d. Seçtiğiniz dizinin IMDB'de en az kişi tarafından oylanmış 5 bölümü</ul>
</div>

<div class="entries">
  {% for result, time in results %} Elapsed time: {{time}}

  <table>
    <tr>
      <th>tconst</th>
      <th>parentTconst</th>
      <th>seasonNumber</th>
      <th>episodeNumber</th>
      <th>averageRating</th>
      <th>numVotes</th>
    </tr>

    {% for tconst, parentTconst, seasonNumber, episodeNumber, _, averageRating,
    numVotes in result %}
    <tr>
      <th>{{tconst}}</th>
      <th>{{parentTconst}}</th>
      <th>{{seasonNumber}}</th>
      <th>{{episodeNumber}}</th>
      <th>{{averageRating}}</th>
      <th>{{numVotes}}</th>
    </tr>

    {% endfor %}
  </table>
  <br />
  {%endfor%}
</div>

{% endblock %}
